<%- include("templates/header") %>
<main class="form-signin w-100 m-auto">
  <div class="text-center">
    <form action="/resettingPassword" method="post">
      <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
      <input type="hidden" name="token" value="<%= token %>">
      <input type="hidden" name="email" value="<%= email %>">
      <div class="form-floating">
        <input
          name="password"
          type="password"
          class="form-control <%= isValid === 'false' ? 'is-invalid' : '' %>"
          id="password"
          placeholder="Password"
          required
        />
        <label for="password">New Password</label>
      </div>
      <br>
      <div class="form-floating">
        <input
          name="confirmPassword"
          type="password"
          class="form-control <%= isValid === 'false' ? 'is-invalid' : '' %>"
          id="confirmPassword"
          placeholder="Confirm Password"
          required
        />
        <label for="confirmPassword">Confirm Password</label>
        <div id="validationFeedback" class="<%= isValid === 'false' ? 'invalid-feedback' : 'invalid-feedback' %>">
          Passwords do not match.
        </div>
      </div>
      <br>
      <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit">Reset Password</button> 
    </form>
  </div>
</div>
</main>
<script>
  const passwordInput = document.getElementById("password");
  const confirmPasswordInput = document.getElementById("confirmPassword");

  const validatePasswords = () => {
    if (passwordInput.value !== '' 
        && confirmPasswordInput.value !== '' 
        && passwordInput.value !== confirmPasswordInput.value) {
      if (!passwordInput.classList.contains("is-invalid")) {
        passwordInput.classList.add("is-invalid");
      }
      if (!confirmPasswordInput.classList.contains("is-invalid")) {
        confirmPasswordInput.classList.add("is-invalid");
      }
    } else {
      passwordInput.classList.replace("is-invalid", "is-valid");
      confirmPasswordInput.classList.replace("is-invalid", "is-valid");
    }
  };

  passwordInput.addEventListener("input", validatePasswords);
  confirmPasswordInput.addEventListener("input", validatePasswords);
</script>
<%- include("templates/footer") %>