<%- include('templates/header') %>
<main class="room">
  <div class="container room">
    <div class="overlay"></div>
    <%- include('templates/teamInfo', {link: url + 'linkJoin?friend=' + username + '&name=' + teamName + '&teamCode=' + teamCode}) %>


    <div class="room-cards">
      <% for (i = 0; i < 5; i++) { %>
      <div class="row m-0 p-0">
        <%- include('templates/teammateCard', {role: roles[i], summonerName: summonerNames[i], imgURL: teamChamps[i][1], champ: teamChamps[i][0], position: i }) %>
        <%- include('templates/opponentCard', {champ: enemyChamps[i][0], imgURL: enemyChamps[i][1], position: i}) %>
      </div>
      <% if (i !== 4) { %>
      <hr>
      <% } %>
      <% } %>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <button type="button" id="bansButton" class="btn btn-secondary active">Bans
      </button>
      <button class="btn btn-secondary" id="teamsButton">
        Teams
      </button>
    </div>
    <%- include('templates/bans', {
      bans: bans
    }) %>
    <!-- temp -->
    <%- include('templates/teams') %>
    <%- include('mod', {target: ''}) %>
  </div>
</main>
<%- include('templates/footer') %>
<script>
  const handleChampClick = () => {
    // set action to data-id
    const form = document.getElementById('champion-input-form');
    form.action = "/update?tar=" + event.target.parentNode.getAttribute('data-id');
  }

  // Get the buttons
  const bansButton = document.getElementById('bansButton');
  const teamsButton = document.getElementById('teamsButton');

  // Get the collapse elements
  const bansCollapse = document.getElementById('bans');
  const teamsCollapse = document.getElementById('teams');

  // Add event listeners to the buttons
  bansButton.addEventListener('click', function() {
    bansCollapse.classList.toggle('show');
    teamsCollapse.classList.toggle('show');
  });

  teamsButton.addEventListener('click', function() {
    teamsCollapse.classList.toggle('show');
    bansCollapse.classList.toggle('show');
  });
</script>